.footer__column {
    display: flex;
    flex-direction: column;
}

.footer-group-1 {
    padding: 32px 0;
}
.footer-group-1__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
}

.footer-group-1 .body-base {
    color: var(--black-color-v1);
}

.footer-group-1__item ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__newtworks {
    display: flex;
    flex-direction: column;
    max-width: 262px;
    width: 100%;
    gap: 24px;
}

.footer__newtworks a {
    width: fit-content;
}

.footer-group-1__item-title {
    color: var(--black-color-v1);
}

.footer__newtworks-group {
    display: flex;
    gap: 12px;
}

.footer__markets {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
}

.footer-group-1__item-body {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer-group-1__item-body .body-strong {
    color: var(--black-color-v1);
}

.footer-group-1__item {
    display: flex;
    flex-direction: column;
    max-width: 262px;
    width: 100%;
    gap: 28px;
}

.footer-group-1__item.custom {
    max-width: 336px;
}

.footer-group-2 {
    background-color: var(--grey-color-v1);
}

.footer-group-2__text {
    font-family: 'Roboto';
    text-align: center;
    padding: 8px 0 10px 0;
    color: var(--black-color);
}

.form-container {
    display: flex;
    align-items: center;
}

.footer__form {
    display: flex;
}

.footer__form input {
    border: 1px solid var(--grey-color-v2);
    border-radius: var(--radius-200) 0 0 var(--radius-200); 
    padding: 12px 16px;
    width: 227px;
    font-size: 16px;
    font-weight: 400;
    outline: none; 
    color: var(--grey-color-v3);
}

.footer__form button {
    background-color: var(--blue-color-v1);
    color: white;
    padding: 12px 18.5px;
    border: 1px solid var(--blue-color-v1);
    border-radius: 0 30px 30px 0;
    color: var(--grey-color-v1);
    font-weight: 400;
    line-height: 16px;
}

@media (max-width: 768px) {
    .footer-group-1__row {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 24px;
        align-items: center;
    }

    .footer__form input {
        width: 100%;
    }

    .footer__markets {
        justify-content: center;
    }

    .footer-group-1__item-body {
        gap: 24px;
    }

    .footer-group-1__item.custom {
        max-width: 342px;
    }

    .footer__form button {
        border-radius: 0 var(--radius-200) var(--radius-200) 0;
    }

    .footer-group-1__item {
        text-align: center;
        gap: 16px;
    }

    .footer__newtworks {
        flex-direction: row;
        gap: 147px;
        row-gap: 10px;
        max-width: 100%;
        flex-wrap: wrap;
        align-self: self-start;
    }
}