@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
         url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
         url('../fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),
         url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --black-color:rgba(0, 0, 0, 1);
    --white-color:rgba(255, 255, 255, 1);
    --blue-color:rgba(66, 133, 244, 1);
    --grey-color:rgba(117, 117, 117, 1);
    --black-color-v1:rgba(30, 30, 30, 1);
    --white-color-v1:rgba(243, 243, 243, 1);
    --blue-color-v1:rgba(59, 124, 233, 1);
    --blue-color-v2: rgba(66, 133, 244, 0.1);
    --grey-color-v1:rgba(245, 245, 245, 1);
    --grey-color-v2:rgba(217, 217, 217, 1);
    --grey-color-v3:rgba(179, 179, 179, 1);
    --grey-color-v4:rgba(54, 54, 54, 1);
    --grey-color-v5:rgba(178, 178, 178, 1);
    --blue-color-v3:rgba(66, 133, 244, 0.2);
    --grey-color-v6:rgba(241, 241, 241, 1);
    --icon-hover:rgba(91, 91, 91, 1);
    --blue-color-v4:rgba(0, 122, 255, 1);
    --blue-color-v5:rgba(0, 122, 255, 0.25);

    --radius-200: 8px;
}

.title-hero {
    font-size: clamp(48px, 2.443rem + 2.29vw, 72px);
    font-weight: 700;
    line-height: clamp(57.6px, 2.931rem + 2.74vw, 86.4px);
    letter-spacing: -0.03em;
}

.body-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
}

.body-base {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
}

.body-strong {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;    
} 

.heading {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.02em;
    line-height: 28.8px;
}

.subtitle {
    font-weight: 700;
    font-size: clamp(24px, 1.314rem + 0.76vw, 32px);
    line-height: clamp(28.8px, 1.577rem + 0.91vw, 38.4px);
}

.subheading {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.btn {
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-color-v1);
    background-color: var(--blue-color-v1);
    border-radius: var(--radius-200);
    border: 1px solid var(--blue-color-v1);
    text-align: center;
}

@media (max-width: 768px) {
    .btn {
        width: 100%;
    }

    .subtitle {
        font-weight: 600;
    }
}

.info-block-1 {
    background-color: var(--blue-color);
    padding: clamp(52px, 2.403rem + 3.48vw, 88.5px) 0;
}

.info-block-1__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.info-block-1__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    color: var(--white-color-v1);
}

.info-block-1__link {
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--blue-color);
    line-height: 16px;
    padding: 14px 72px;
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: var(--radius-200);
    text-align: center;    
}

@media (max-width: 768px) {
    .info-block-1__link {
        width: 100%;
    }
}

.advantages-block {
    background-color: var(--white-color);
    padding: clamp(52px, 2.971rem + 1.14vw, 64px) 0;
}

.advantages-block__column {
    display: flex;
    flex-direction: column;
    gap: clamp(24px, 0.943rem + 2.29vw, 48px);
}

.advantages-block__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.advantages-block__header h2 {
    color: var(--blue-color-v1);
}

.advantages-block__header p {
    color: var(--grey-color);
}

.advantages-block__swiper-wrapper {
    padding: 0 50px;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    align-items: stretch;
}

.swiper-slide {
    height: auto !important;
}

.advantage {
    overflow: hidden;
    position: relative;
    max-width: 355px;
    width: 100%;
    display: flex;
    gap: 24px;
    height: 100%;
}

.advantage svg {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.advantage__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.advantage__title {
    font-size: clamp(20px, 1.157rem + 0.38vw, 24px);
    line-height: clamp(24px, 1.389rem + 0.46vw, 28.8px);
    color: var(--blue-color-v1);
    letter-spacing: -0.02em;
    font-weight: 600;
}

.advantage__body p {
    color: var(--grey-color);
}

@media (max-width: 768px) {
    .advantage__title {
        font-weight: 400;
    }
}

.info-block-2 {
    padding: clamp(95px, 5.311rem + 2.57vw, 122px) 0 clamp(92px, 5.077rem + 2.76vw, 121px) 0;
    background-color: var(--white-color);
    position: relative;
}

.info-block-2__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-block-2__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.info-block-2__body .heading {
    color: var(--blue-color-v1);
}

.info-block-2__body .subheading {
    color: var(--grey-color);
}

.info-block-2__btn {
    padding: 14px 67.5px;
    z-index: 1;
}

.info-block-2__img {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.services-block,
.articles-block {
    background-color: var(--white-color);
    padding: clamp(52px, 2.971rem + 1.14vw, 64px) 0;
}

.services-block__column,
.articles-block__column {
    display: flex;
    flex-direction: column;
    gap: clamp(24px, 0.943rem + 2.29vw, 48px);
}

.services-block__header,
.articles-block__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.services-block__header h2,
.articles-block__header h2 {
    color: var(--blue-color-v1);
}

.services-block__header p,
.articles-block__header p {
    color: var(--grey-color);
}

.service,
.article {
    max-width: 377.33px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid var(--grey-color-v2);
    border-radius: var(--radius-200);
}

.article {
    max-width: 381.33px;
}

.service__description,
.article__description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.service__title,
.article__title {
    color: var(--black-color-v1);
}

.service__text,
.article__text {
    color: var(--grey-color);
}

.service__img img,
.article__img img {
    width: 100%;
    height: 355px;
    object-fit: cover;
}

.article__img img {
    height: 247px;
}

.services-block__swiper-wrapper,
.articles-block__swiper-wrapper {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
}

.articles-block__swiper-wrapper {
    gap: 35px;
}

.services-block__btn {
    padding: 14px 63.5px;
}

.articles-block__btn {
    padding: 12px;
}

.reviews-block {
    background-color: var(--blue-color-v1);
    padding: 64px 0;
}

.reviews-block .subtitle {
    color: var(--white-color);
}

.reviews-block__column {
    display: flex;
    flex-direction: column;
    gap: clamp(24px, 0.943rem + 2.29vw, 48px);
}

.review {
    max-width: 380px;
    background-color: var(--white-color);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid var(--grey-color-v2);
    border-radius: var(--radius-200);
}

.rating {
    display: flex;
    gap: 4px;
}

.review__description {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.review__title,
.review__text {
    color: var(--black-color-v1);
}

.review-user {
    display: flex;
    gap: 12px;
}

.review-user__logo{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
}

.review-user__logo img {
    width:100%;
    height:auto;
    object-fit: cover;
}

.review-user__data {
    display: flex;
    gap: 2px;
    flex-direction: column;
}

.review-user__data .name {
    color: var(--grey-color);
}

.review-user__data .date {
    color: var(--grey-color-v3);
}

.faq-block {
    padding: clamp(54px, 2.307rem + 4.38vw, 100px) 0;
    background-color: var(--white-color);
}

.faq-block__column {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.faq-block__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.faq-block__header .subtitle {
    color: var(--blue-color-v1);
}

.faq-block__header .subheading {
    color: var(--grey-color);
}

.faq__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.faq__qroup {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey-color-v2);
    width: 100%;
    border-radius: var(--radius-200);
    background-color: var(--grey-color-v1);
}

.faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 16px; 
    cursor: pointer;
    color: var(--black-color-v1);
    border-top-left-radius: var(--radius-200);
    border-top-right-radius: var(--radius-200);
}

.faq__answer {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 200ms ease;
}

.faq svg {
    transition: transform 0.5s ease;
}

.faq__answer.open {
    grid-template-rows: 1fr;
}

.faq__answer-text {
    display: block;
    padding: 0 16px 16px 16px; 
    color: var(--black-color-v1);
    background-color: var(--white-color);
    border-bottom-left-radius: var(--radius-200);
    border-bottom-right-radius: var(--radius-200);
}

.rotate {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .advantages-block__header,
    .services-block__header,
    .reviews-block__header,
    .articles-block__header {
        text-align: center;
    }

    .articles-block__swiper-wrapper {
        gap: 24px;
    }
}

@media (max-width: 700px) {
    .service {
        margin: 0 auto;
        padding-bottom: 24px;
    }

    .article {
        margin: 0 auto;
        padding-bottom: 15px;
    }

    .review {
        margin: 0 auto;
    }

    .service__img img {
        height: 215px;
    }

    .article__img img {
        height: 207px;
    }
}

@media (max-width: 600px) {
    
    .advantage {
        align-items: center;
        flex-direction: column;
        text-align: center;
        max-width: 240px;
        margin: 0 auto;
    }
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: none !important;
}

.swiper-button-next,
.swiper-button-prev {
    width: 52px !important;
    height: 52px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -16px !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: -16px !important;
}

.swiper-pagination-bullet {
    width: 11px !important;
    height: 11px !important;
    background: var(--blue-color) !important;
    opacity: 1 !important;
    position: relative !important;
}

.reviews-swiper .swiper-pagination-bullet {
    background: var(--white-color) !important;
}

.swiper-pagination-bullet-active:before {
    content: '';
    display: block;
    width: 9px; 
    height: 9px;
    background: var(--white-color);
    border-radius: 50%; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reviews-block__swiper .swiper-pagination-bullet {
    background: var(--white-color) !important;
}

.reviews-block__swiper .swiper-pagination-bullet-active:before {
    background: var(--blue-color);
}

.swiper-pagination-bullet {
    display: none !important;
}

.advantages-block__swiper-wrapper .swiper-pagination-bullet {
    background: var(--blue-color) !important;
}

.advantages-block__swiper-wrapper .swiper-pagination-bullet-active:before {
    background: var(--white-color);
}

.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}

.preview-block__swiper-wrapper .swiper-pagination-bullet {
    display: inline-block !important;
}

.preview-swiper.swiper-button-next,
.preview-swiper.swiper-button-prev  {
    display: unset !important;
    top: calc(50% - 18px) !important;
}

.preview-swiper.swiper-button-next {
    right: 0 !important;
}

.preview-swiper.swiper-button-prev {
    left: 0 !important;
}

@media (max-width: 999px) {
    .services-block__swiper,
    .reviews-block__swiper,
    .articles-block__swiper {
        padding: 0 50px !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: unset !important;
    }
}

@media (max-width: 768px) {
    .advantages-block__header {
        text-align: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 40px !important;
        height: 40px !important;
    }

    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: 0 !important;
    }
    
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 0 !important;
    }

    .advantages-block__swiper-wrapper {
        padding: 0 51px;
    }

    .advantages-block__swiper {
        padding-bottom: 41px !important;
    }

    .reviews-block__swiper {
        padding-bottom: 33px !important;
    }

    .articles-block__swiper {
        padding-bottom: 35px !important;
    }

    .services-block__swiper-wrapper {
        gap: 16px;
    }

    .services-block__swiper {
        padding-bottom: 31px !important;
    }

    .swiper-pagination-bullet {
        display: inline-block !important;
        width: 9px !important;
        height: 9px !important;
    }

    .swiper-pagination-bullet-active:before {
        width: 7px; 
        height: 7px;
    }

    .article-swiper.swiper-button-next,
    .article-swiper.swiper-button-prev {
        top: calc(50% - 17.5px);
    }

    .services-swiper.swiper-button-next,
    .services-swiper.swiper-button-prev {
        top: calc(50% - 15.5px);
    }

    .reviews-swiper.swiper-button-next,
    .reviews-swiper.swiper-button-prev {
        top: calc(50% - 16.5px);
    }

    .advantages-swiper.swiper-button-next,
    .advantages-swiper.swiper-button-prev {
        top: calc(50% - 20.5px);
    }
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0 !important;
}

.info-block-3__row {
    display: flex;
}

.info-block-3__group-1 {
    flex: 1;
    width: 100%;
    padding: clamp(54px, 3.062rem + 1.29vw, 67.5px) 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 77.9px;
    background-color: var(--white-color);
}

.info-block-3__group-title .title-hero {
    color: var(--grey-color-v4);
}

.info-block-3__img img {
    max-width: 540px;
    width: 100%;
    object-fit: cover;
}

.info-block-3__group-2 {
    margin-top: 24px;
    flex: 1;
    max-width: 620px;
    padding: clamp(54px, 3.062rem + 1.29vw, 67.5px) 0 clamp(54px, 3.062rem + 1.29vw, 67.5px) clamp(24px, 0.212rem + 5.29vw, 79.5px);
    background-color: var(--blue-color);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: end;
}

.info-block-3__group-2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 100%); 
    height: 100%; 
    background-color: var(--blue-color);
    z-index: -1;
}

.info-block-3__group-2 .subtitle {
    text-align: right;
    color: var(--white-color);
}

.info-block-3__form {
    max-width: 540px;
    width: 100%;
    padding: 24px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: var(--radius-200);
    border: 1px solid var(--grey-color-v2);
}

.info-block-3__form button {
    padding: 12px 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group label {
    color: var(--black-color-v1);
}

.input-group { 
    min-width:-webkit-fill-available;
}

.input-group input {
    font-family: 'Inter', sans-serif;
    padding: 12px 16px;
    border-radius: var(--radius-200);
    border: 1px solid var(--grey-color-v2);
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-color-v3);
}

.input-group sup {
    position: relative;
    top: 4px;
}

.input-group input::placeholder,
.input-group textarea::placeholder,
footer input::placeholder,
.header__search-input::placeholder {
    color: var(--grey-color-v3);  
}

.input-group input:focus,
.input-group textarea:focus,
.footer__form input:focus,
.header__search-input:focus {
    border-color: var(--grey-color);
    outline: none;
}
 
.input-group textarea {
    font-family: 'Inter', sans-serif;
    width: 100%;
    padding: 12px 16px;
    border-radius: var(--radius-200);
    border: 1px solid var(--grey-color-v2);
    color: var(--grey-color-v3);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    resize: none;
    height: 129px;
}

.info-block-3__policy {
    display: flex;
    flex-direction: column;
}

.info-block-3__policy .body-link {
    color: var(--grey-color);
    position: relative;
    width: fit-content;
}

.info-block-3__policy label {
    color: var(--black-color-v1);
}

.info-block-3__policy .body-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 2px;
    left: 0;
    background-color: var(--grey-color);
}

.info-block-3__policy-group {
    display: flex;
    align-items: center;
    gap: 12px;  
}

.info-block-3__policy-group label {
    cursor: pointer;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
  
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--grey-color-v3);
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: var(--blue-color);
    background-color: var(--blue-color);
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8334 4.5L6.50008 11.8333L3.16675 8.5' stroke='%23F5F5F5' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

@media (max-width: 950px) {
    .info-block-3 {
        background-color: var(--blue-color);
    }

    .info-block-3__group-title .title-hero {
        color: var(--white-color);
        text-align: center;
    }

    .info-block-3__group-2 .subtitle {
        display: none;
    }

    .info-block-3__group-2 {
        margin: 0;
        padding: 0;
    }

    .info-block-3__group-1 {
        background-color: var(--blue-color);
        padding: 0;
    }

    .info-block-3__row {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding: 54px 0;
    }

    .info-block-3__img {
        display: none;
    }
}
  
.container.custom {
    padding: 0 clamp(24px, 0.896rem + 2.48vw, 50px) 0 clamp(24px, -0.264rem + 7.24vw, 100px);
}

.preview-block {
    padding: clamp(138px, -1.375rem + 20.83vw, 278px) 0 clamp(54px, 2.121rem + 5.14vw, 108px) 0;
}

.preview-block__row {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.preview-block__body {
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.preview-block__body h1 {
    color: var(--black-color-v1);
}

.preview-block__body span {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: -0.02em;
    color: var(--grey-color);
}

.preview-block__body .btn {
    width: fit-content;
    padding: 14px 85.5px;
}

.preview-block__swiper-wrapper {
    min-width: 0;
    align-self: end;
}

.preview-block__swiper {
    padding: 0 68px 26px 68px !important;
    max-width: 820px;
    height: auto;
}

.preview-slide__wrapper {
    max-width: 684px;
    width: 100%;
}

.preview-slide__wrapper img {
    max-width: 684px;
    max-height: 456px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 900px) {

    .container.custom {
        padding: 0 clamp(24px, -0.264rem + 7.24vw, 100px);
    } 

    .preview-block__body .btn {
        margin: 0 auto;
        width: fit-content;
        padding: 14px 85.5px;
    }
    
    .preview-block__body {
        padding: 0;
        width: 100%;
    }

   .preview-block__row {
        flex-direction: column;
        align-items: center;
   }

   .preview-block__body {
        text-align: center;
   }
}

@media (max-width: 768px) {
    .preview-block__body .btn {
        width: 100%;
    }

    .preview-block__swiper {
        padding: 0 50px 26px 50px !important;
        max-width: 820px;
        height: auto;
    }

    .preview-block__body span {
        font-weight: 600;
    }
}

@media (hover: hover) {
    .btn:hover,
    .footer__form button:hover {
        color: var(--blue-color);
        background-color: var(--white-color);
    }

    .header__find-btn:hover {
        border-color: var(--blue-color-v4);
        background-color: var(--white-color);
    }

    .service:hover,
    .article:hover {
        background-color: var(--grey-color-v6);
    }

    .header__newtworks-group a:hover svg path, 
    .footer__newtworks-group a:hover svg path{
        fill: var(--icon-hover);
    }
}

.header__find-btn:active {
    border-color: var(--blue-color-v4);
    background-color: var(--blue-color-v5);
}

.header__newtworks-group a:active svg path, 
.footer__newtworks-group a:active svg path{
    fill: var(--blue-color-v1);
}

.btn:active,
.footer__form button:active {
    color: var(--blue-color);
    background-color: var(--blue-color-v3);
}

.preview-block__swiper .swiper-wrapper {
    display: flex !important;
}

.preview-block__swiper .swiper-slide {
    display: flex !important;
    align-items: center !important; 
    justify-content: center !important;
}

.preview-slide__wrapper {
    max-width: 684px;
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .preview-block__swiper-wrapper {
        min-width: 0;
        align-self: stretch;
    }
}
