/* @font-face { font-family: 'Din Pro Lite'; src: url(../fonts/dinpro_light.otf); font-weight: 300; }
@font-face { font-family: 'Din Pro Medium'; src: url(../fonts/dinpro_medium.otf); font-weight: 500; }
@font-face { font-family: 'Cannonade'; src: url(../fonts/Cannonade.ttf); font-weight: 500; }

@font-face {
  font-family: 'PF Regal Display Pro';
  src: local('PF Regal Display Pro Regular'), local('PF-Regal-Display-Pro-Regular'),
      url('../fonts/PFRegalDisplayPro-Regular.woff2') format('woff2'),
      url('../fonts/PFRegalDisplayPro-Regular.woff') format('woff'),
      url('../fonts/PFRegalDisplayPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} */

* { padding: 0; margin: 0; border: 0; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
nav, footer, header, aside { display: block; }
input::-ms-clear { display: none; }
button { cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }
a { color: var(--white-color); }
a, a:visited, a:hover { text-decoration: none !important; }
a:hover { text-decoration: none; }
ul li { list-style: none !important; }
img { vertical-align: top; }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
html, body {
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  color: var(--white-color);
  background-color: var(--bg-color);
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}  

.overflowY-hidden {
  overflow-y: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 clamp(24px, -0.264rem + 7.24vw, 100px);
}